.trust {
    margin-bottom: 157px;
    text-align: center;
    @include desctop-small{
        margin-bottom: 100px;
    } 
    @include tablet{
        margin-bottom: 80px;
    } 
    @include tablet-small{
        margin-bottom: 50px;        
    }    
    &__company {
        display: flex;
        align-items: center;
        justify-content: center;
        @include tablet-small{
            flex-wrap: wrap;
            gap: 20px;
        } 
    }
    &__title{
        margin-bottom: 20px;
    }
    &__subtitle{
        margin: 0 auto;
        margin-bottom: 46px;
        max-width: 875px;
        @include tablet{
            padding: 0 20px;
        } 
    }
}
.body--night .trust__company {
    padding: 10px 0;
    background-color: $bg-trust-night;
}